@using System.Xml;
@{
    XmlDocument doc = new XmlDocument();
    doc.Load(Server.MapPath("~/app_data/template-report.xml"));

    var projectTemplates = GetUniqueNames(doc.SelectNodes("//ProjectTemplate"));
    var itemTemplates = GetUniqueNames(doc.SelectNodes("//ItemTemplate"));
    var snippets = GetUniqueNames(doc.SelectNodes("//Snippet"));
}
@DateTime.Now
<ul>
    <li>
        <h3>Project templates</h3>
        <ul>@CreateList(projectTemplates)</ul>
    </li>
</ul>

<ul>
    <li>
        <h3>Item templates</h3>
        <ul>@CreateList(itemTemplates)</ul>
    </li>
</ul>

<ul>
    <li>
        <h3>Snippets</h3>
        <ul>@CreateList(snippets)</ul>
    </li>
</ul>

@functions{
    List<string> GetUniqueNames(XmlNodeList nodes)
    {
        List<string> list = new List<string>();
        foreach (XmlNode node in nodes)
        {
            var attr = node.Attributes["Name"] ?? node.Attributes["Title"];
            string name = attr.InnerText;
            if (!list.Contains(name))
                list.Add(name);
        }

        list.Sort();
        
        return list;
    }
}

@helper CreateList(IEnumerable<string> names)
{
    foreach (string name in names)
    {
        <li>@name</li>
    }
}